ul.footer__menu
    li.menu__about 
        a(href="#") About
    li.menu__privacy
        a(href="#") Privacy
    li.menu__terms
        a(href="#") Terms
div.footer__copyright © 2021 Héctor França. Todos os direitos reservados.